<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/openinglogo"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DermaScan">
        <activity
            android:name=".ui.editprofil.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail_history.DetailHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detection.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detection.ScanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.aboutus.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.opening.OpeningAppsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.opening.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.opening.SplashScreenActivityclass"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>